@charset "UTF-8";
body {
  direction: rtl;
}

/*header*/
#cont1 {
  background-color: rgba(255, 0, 0, 0.753);
}
#cont1 .row p {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  width: 50%;
}

/* end header*/
/*  form search*/
#cont2 .row .col-12 .col-lg-3 button {
  margin-top: 18px;
  font-size: 11px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cont2 .row .col-12 .col-lg-3 button i {
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cont2 .row .col-12 .col-lg-3 #mypopaver {
  display: none;
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  width: 80%;
  border-radius: 2%;
}
#cont2 .row .col-12 .col-lg-5 input::placeholder {
  font-size: 12px;
  font-weight: bold;
}
#cont2 .row .col-12 .col-lg-5 button {
  margin-top: -38px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cont2 .row .col-12 .col-lg-3 .div1 i {
  font-size: 25px;
}
#cont2 .row .col-12 .col-lg-3 .div1 #label1, #cont2 .row .col-12 .col-lg-3 .div1 #label2 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#cont2 .row .col-12 .col-lg-3 .div1 #label2 {
  color: red;
}
#cont2 .row .col-12 .col-lg-3 .div2 {
  display: none;
}
#cont2 .row .col-12 .col-lg-3 .div2 #p1 {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
}

/* end form search*/
/*navbar*/
#nav {
  margin-right: -50px;
}
#nav a {
  font-size: 15px;
  color: white;
}
#nav a:hover {
  background-color: gray;
}

.col-lg-3 {
  margin-right: -30px;
}
.col-lg-3 .card .card-body {
  height: 390px;
}
.col-lg-3 img {
  width: 100%;
  height: 253px;
}
.col-lg-3 p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}
.col-lg-3 a {
  display: block;
  color: black;
  font-size: 14px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.col-lg-3 a:hover {
  color: red;
  text-decoration: none;
}

/*end navbar*/
/*list products*/
#div1 {
  position: absolute;
  z-index: 3;
}

#div2 {
  position: absolute;
  z-index: 3;
}

#div3 {
  position: absolute;
  z-index: 3;
}

#div4 {
  position: absolute;
  z-index: 3;
}

#div5 {
  position: absolute;
  z-index: 3;
}

#div6 {
  position: absolute;
  z-index: 3;
}

#div7 {
  position: absolute;
  z-index: 3;
}

#div8 {
  position: absolute;
  z-index: 3;
}

#contowl .row img {
  width: 100%;
}
#contowl .row #button {
  margin-top: -90px;
  font-size: 15px;
  font-family: arial;
  background-color: rgba(255, 0, 0, 0.938);
}
#contowl .row #button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item .card {
  margin-right: 1px;
}
.item .card .card-body {
  height: 300px;
}
.item .card .card-body img {
  height: 150px;
}
.item .card .card-body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.item .card .card-body h6 {
  color: red;
  font-size: 13px;
}
.item .card .card-body del {
  font-size: 13px;
}
.item .card .card-body #label {
  font-size: 11px;
  border: 1px solid red;
}

#carousel .owl-nav .owl-prev span {
  position: absolute;
  left: -30px;
  bottom: 185px;
  font-size: 70px;
  opacity: 0.2;
}
#carousel .owl-nav .owl-prev span:hover {
  color: red;
  opacity: 1;
}
#carousel .owl-nav .owl-next span {
  position: absolute;
  right: -30px;
  bottom: 185px;
  font-size: 70px;
  opacity: 0.2;
}
#carousel .owl-nav .owl-next span:hover {
  color: red;
  opacity: 1;
}

/* end list products*/
/* end  list brand*/
#card {
  height: 50px;
}
#card p {
  font-family: arial;
  font-size: 18px;
}
#card a {
  position: relative;
  top: -39px;
  font-family: arial;
}
#card a:hover {
  color: red;
  text-decoration: none;
}

#carousel2 .item img {
  width: 80%;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
  margin-bottom: 15px;
}

#carousel2 .owl-nav .owl-prev span {
  position: absolute;
  left: -30px;
  bottom: 85px;
  font-size: 70px;
  opacity: 0.2;
}
#carousel2 .owl-nav .owl-prev span:hover {
  color: red;
  opacity: 1;
}
#carousel2 .owl-nav .owl-next span {
  position: absolute;
  right: -30px;
  bottom: 85px;
  font-size: 70px;
  opacity: 0.2;
}
#carousel2 .owl-nav .owl-next span:hover {
  color: red;
  opacity: 1;
}

/* end  list brand*/
/*list 4 products*/
#row .col-12 .col-lg-3 .card {
  width: 100%;
}
#row .col-12 .col-lg-3 .card .card-body {
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#row .col-12 .col-lg-3 .card .card-body p {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px;
}
#row .col-12 .col-lg-3 .card .card-body .zoom-hover {
  overflow: hidden;
}
#row .col-12 .col-lg-3 .card .card-body .zoom-hover img {
  transition: transform 0.5s ease;
}
#row .col-12 .col-lg-3 .card .card-body .zoom-hover img:hover {
  transform: scale(1.2);
}
#row .col-12 .col-lg-3 .card .card-body .scroll {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}
#row .col-12 .col-lg-3 .card .card-body .scroll a {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 7px;
}

/*end list 4 products*/
/* new products*/
#card1 .card-header {
  height: 50px;
}
#card1 .card-header p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  text-align: right;
  direction: rtl;
}
#item1 {
  text-align: center;
  direction: rtl;
}
#item1 img {
  height: 200px;
}
#item1 a {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}
#item1 a:hover {
  text-decoration: none;
}
#item1 p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

#carousel3 .owl-nav .owl-prev span {
  position: absolute;
  left: -20px;
  bottom: 170px;
  font-size: 60px;
  opacity: 0.2;
}
#carousel3 .owl-nav .owl-prev span:hover {
  color: red;
  opacity: 1;
}
#carousel3 .owl-nav .owl-next span {
  position: absolute;
  right: -20px;
  bottom: 170px;
  font-size: 60px;
  opacity: 0.2;
}
#carousel3 .owl-nav .owl-next span:hover {
  color: red;
  opacity: 1;
}

/*end new products*/
/*بخش همکاری*/
#row1 img {
  width: 100%;
  height: 200px;
}
#row1 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  width: 100%;
  background-color: white;
}
#row1 a:hover {
  background-color: rgba(0, 128, 122, 0.548);
}

/*بخش همکاری پایان*/
/*بخش ارسال ها*/
#cardimg img {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 30px;
}
#cardimg label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 5px;
}
#cardimg p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: -10px;
  margin-right: 5px;
}

/*پایان بخش ارسال ها*/
/*فروشگاه اینترنتی خورجینک*/
#cardbody h3 {
  font-family: Arial, Helvetica, sans-serif;
}
#cardbody p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/*پایان فروشگاه اینترنتی خورجینک*/
/*راهنمای خرید*/
#cardbody2 h5 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
#cardbody2 a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
#cardbody2 a:hover {
  text-decoration: none;
  color: red;
}
#cardbody2 #link {
  overflow: hidden;
}
#cardbody2 #link a {
  display: inline;
  font-size: 30px;
}
#cardbody2 #link a i {
  margin-top: 30px;
  transition: transform 0.5s ease;
}
#cardbody2 #link a i:hover {
  transform: scale(1.5);
}

/*پایان راهنمای خرید*/
/*footer*/
#linkha label a {
  color: white;
}
#linkha label a:hover {
  text-decoration: none;
  color: black;
}

#arrow a i {
  font-size: 50px;
}
#arrow a i:hover {
  color: red;
}

#back-top {
  bottom: 30px;
  right: 10px;
  position: fixed;
  z-index: 100;
}
#back-top a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  width: 50px;
}
#back-top a i {
  font-size: 55px;
}
#back-top a i:hover {
  color: rgba(255, 0, 0, 0.863);
}

/*end footer*/

/*# sourceMappingURL=pagefirst.css.map */
